<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.name }}</title>
  <meta name="description" content="{{ description or site.description }}">
  
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon.png">
  <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-one-dark.min.css">
  <script src="/js/theme.js" defer></script>
</head>
<body>
  
  <header class="site-header">
      <div class="container">
        <nav>
          <div class="logo">
            <a href="/">{{ site.name }}</a>
          </div>
          <ul role="list">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Contact</a></li>
          </ul>
        </nav>
      </div>
  </header>
  
  <main class="content">
    {{ content | safe }}
  </main>
  
  <footer class="site-footer">
    <div class="container columns">  
      <div class="col-2">      
        <div class="logo">{{ site.name }}</div>
        <p>{{ site.description }}</p>
      </div>

      <div class="col-4">
        <h3>Site Links</h3>
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>

      <div class="col-4">
        <h3>Contact</h3>
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>

    </div>
  </footer>
  
  <script src="/js/app.js" defer></script>
</body>
</html>