---
title: Home
layout: base.njk
---

<section class="hero-section">
    <div class="container columns">
        <div class="col-2">
            <h1>{{ site.name }}</h1>
            <h2>{{ site.description }}</h2>
        </div>
        <div class="col-2">
            <img src="/assets/img/undraw_bento-grid_qfc0.svg" alt="bento grid image">
        </div>
    </div>
</section>

<section>
    <div class="container">

    </div>
</section>

<section>
    <div class="container">

    </div>
</section>